@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --orange: #FBA24F;
    --red: #FF1E1E;
    --black: #0B0D17;
    --black-text: #18191F;
    --black-text2: #252525;
    --gray: #5B5B5B;
    --gray-dark: #676767;
    --white: #FFFFFF;
}

.margin-zero{
    margin: 0;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-evenly{
    justify-content: space-evenly;
}

.text-align-center{
    text-align: center;
}

span{
    background: linear-gradient(88.33deg, var(--orange) -7.64%, var(--red) 145.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.recipies h1{
    margin-bottom: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
    color: var(--gray-dark);
}

.recipies p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--black-text2);
}

.summary{
    margin: 100px 101px 92px;
    padding: 64px 165px;
    background-color: var(--white);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.summary h1, p{
    font-family: 'Montserrat';
    font-style: normal;
    font-feature-settings: 'liga' off;
    color: var(--black-text);
}

.summary h1{
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.summary P{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

footer{
    background-color: var(--black);
    padding: 37px 0 115px;
}

footer h1{
    color: var(--gray);
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
}

footer p{
    color: var(--white);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
}