@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

footer{
    background-color: #0B0D17;
    margin-top: 94px;
    padding: 37px 0;
    color: #5B5B5B;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
}

footer p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}

.gradient-text{
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}